@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBackground: #caffe5;
  --secondaryBackground: #f4f6f7;
  --tertiaryBackground: #39f2ae33;
  --linearBackground: linear-gradient(
    258.83deg,
    #e9fff5,
    #e5fff3,
    #e0fff1,
    #dcffee,
    #d7ffec,
    #d3ffea,
    #ceffe7,
    #caffe5
  );
  --primaryText: #20262c;
  --secondaryText: #3b454f;
  --tertiaryText: #4c5f6e;
  --linearCardBg: linear-gradient(
    180deg,
    rgba(226, 232, 235, 0.2) -8.82%,
    #e2e8eb 52.94%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Satoshi", sans-serif;
}

.linearBg {
  background: var(--linearBackground);
}

.linearCardBg {
  background: var(--linearCardBg);
}

.container-wrapper {
  max-width: 1440px;
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-crypto-card-shadow {
  box-shadow: 4px 8px 12px 0px #0000001a;
}

.blog-card-shadow {
  box-shadow: 2px 4px 12px 0px #26323829;
}

.hidden-scroll {
  overflow: scroll;
  scrollbar-width: none;
}
